.form-connect {
  background-color: #00b2ff;
  overflow: hidden;
}

.form-connect__container {
  display: flex;
  width: 100%;
  min-width: 1024px;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 30px;
  padding-top: 90px;
  min-height: 670px;
}

.form-connect__wrapper-image {
  position: relative;

  display: flex;
  margin-top: 69px;
  margin-left: -25px;
  flex-shrink: 0;

  &::after {
    content: "";

    position: absolute;
    top: -21px;
    left: -226px;

    width: 670.33px;
    height: 641px;

    background-image: url("../../img/bg-triangles-for-airplane.svg");
    background-repeat: no-repeat;
  }
}

.form-connect__airplane {
  z-index: 1;
}

.form-connect__airplane-img {
  margin-right: 85px;
}

.form-connect__wrappers {
  width: 574px;
  // временно
  margin-left: auto;
}

.form-connect__title {
  margin: 0;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;
}

.form-connect__description {
  margin: 0;
  margin-top: 11px;
  margin-left: 4px;

  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

@media (max-width: $tablet-width-max) {
  .form-connect__container {
    min-width: $mobile-width;
    max-width: 760px;
    padding: 0 82px;
    padding-top: 79px;
    min-height: 664px;
  }

  .form-connect__wrapper-image {
    display:none;
  }

  .form-connect__wrappers {
    width: 100%;
    // Временно
    margin-left: 0;
  }

  .form-connect__title {
    font-size: 32px;
    line-height: 140.62%;
  }

  .form-connect__description {
    margin-left: 6px;
    margin-top: 16px;
  }
}

@media (max-width: $mobile-width-only) {
  .form-connect__container {
    min-width: $mobile-width;
    max-width: 320px;
    padding: 0 15px;
    padding-top: 30px;
    min-height: 640px;
  }

  .form-connect__title {
    font-size: 28px;
  }

  .form-connect__description {
    margin-left: 0px;
    margin-top: 13px;
  }
}
