.menu-footer__container {
  display: flex;
  width: 100%;
  min-width: 1024px;
  max-width: 1471px;
  margin: 0 auto;
  padding: 0 27px;
  padding-top: 58px;
  min-height: 263px;
}

.menu-footer__logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5px;

  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}

.menu-footer__text-wrapper {
  margin-left: 17px;
  padding-top: 7px;
}

.menu-footer__title {
  margin: 0;

  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: #203c42;
}

.menu-footer__description {
  margin: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #788891;
}

.menu-footer__blocks-site {
  width: 35.2%;
  margin-left: auto;
}

.menu-footer__blocks-site-title {
  padding-left: 12px;
  margin: 0;
  margin-top: 6px;

  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #1b2d37;
}

.menu-footer__list-section {
  margin: 0;
  margin-top: 24px;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100px;

  list-style: none;
}

.menu-footer__list-section li {
  padding-left: 10px;

  font-size: 15px;
  line-height: 25px;

  color: #1b2d37;

  opacity: 0.5;

  &:hover {
    opacity: 0.2;
    cursor: pointer;
  }
}

.menu-footer__contact {
  width: 24%;
  margin-left: 11.7%;
  padding-left: 4px;
}

.menu-footer__contact-title {
  margin: 0;
  margin-top: 6px;
  padding-bottom: 30px;

  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #1b2d37;
}

.menu-footer__list-contact {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

.menu-footer__link span {
  color: #1b2d37;

  opacity: 0.5;

  &:hover {
    opacity: 0.2;
  }
}

.menu-footer__item-contact {
  padding-top: 11px;
}

.menu-footer__year--tablet {
  display: none;
}


@media (max-width: $tablet-width-max) {
  .menu-footer {
    position: relative;

    min-height: 386px;

    &::after {
      content: "";

      position: absolute;
      top: 97px;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: #626962;

      opacity: 0.2;
    }
  }

  .menu-footer__container {
    flex-wrap: wrap;
    min-width: $mobile-width;
    max-width: 760px;
    padding: 0 20px;
  }

  .menu-footer__wrapper {
    display: flex;
    width: 100%;
    padding-top: 14px;
    margin-bottom: 25px;
  }

  .menu-footer__year--tablet {
    margin-left: 12%;
    margin-top: 22px;

    display: block;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #1b2d37;

    opacity: 0.5;
  }
  .cooperation-footer__year--desktop {
    display: none;
  }

  .menu-footer__blocks-site {
    width: 38%;
    margin-left: 0;
  }

  .menu-footer__list-section {
    min-height: 190px;
  }

  .menu-footer__list-section li {
    padding-left: 0;
  }

  .menu-footer__blocks-site-title {
    margin-top: 38px;
    padding-left: 2px;
  }

  .menu-footer__contact {
    width: 48%;
    margin-left: auto;
    padding-left: 1px;
  }

  .menu-footer__contact-title {
    padding-left: 2px;
    margin-top: 38px;
  }
}

@media (max-width: $mobile-width-only) {
  .menu-footer::after {
    display: none;
  }

  .menu-footer__container {
    width: 100%;
    padding: 0;
  }

  .menu-footer__wrapper {
    min-width: $mobile-width;
    max-width: 320px;
    padding: 0 15px;
    margin: 0 auto;
    padding-top: 14px;
    margin-bottom: 25px;
    flex-direction: column;
  }

  .menu-footer__logo {
    margin-top: 31px;
    margin-left: 36px;
  }

  .menu-footer__year--tablet {
    margin-left: 29px;
    margin-top: 27px;
  }

  .menu-footer__blocks-site {
    position: relative;

    width: 100%;
    margin-top: 29px;

    &::after {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: #626962;

      opacity: 0.2;
    }

    &::before {
      content: "";

      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: #626962;

      opacity: 0.2;
    }
  }

  .menu-footer__blocks-site-container {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    min-width: $mobile-width;
    max-width: 320px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .menu-footer__contact {
    position: relative;

    width: 100%;
    margin: 0;

    &::before {
      content: "";

      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: #626962;

      opacity: 0.2;
    }
  }

  .menu-footer__blocks-site-title {
    margin-top: 30px;
    margin-bottom: 27px;
    padding-left: 0px;
  }

  .menu-footer__list-blocks-site li {
    padding-top: 1px;

    font-size: 15px;
    line-height: 25px;
  }

  .menu-footer__list-section {
    width: 100%;
    margin-top: 0;
  }

  .menu-footer__contact-container {
    display: flex;
    flex-wrap: wrap;
    min-width: $mobile-width;
    max-width: 320px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .menu-footer__contact-title {
    padding-left: 0px;
    margin-top: 29px;
  }

  .menu-footer__list-contact {
    width: 80%;
    margin-bottom: 26px;
  }

  .menu-footer__list-contact li {
    padding-top: 1px;

    font-size: 15px;
    line-height: 25px;
  }
}
