.mini-info {
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-left: auto;
  padding: 0;
  padding-top: 19px;

  list-style: none;
}

.mini-info li {
  padding-left: 122px;

  font-size: 16px;
}

.mini-info__link {
  position: relative;

  color: #ffffff;

  &:hover {
    opacity: 0.5;
  }
}

.mini-info__link--email::before {
  content: "";

  position: absolute;
  top: 2.5px;
  left: -39px;

  width: 19px;
  height: 14px;

  background-image: url("../img/emale-icon-small.svg");
  background-repeat: no-repeat;
}

.mini-info__link--phone::before {
  content: "";

  position: absolute;
  top: 1px;
  left: -35px;

  width: 18px;
  height: 18px;

  background-image: url("../img/iphone-icon-small.svg");
  background-repeat: no-repeat;
}

@media (max-width: $tablet-width-max) {
  .mini-info {
    padding-top: 13px;
    margin-left: 54px;
  }

  .mini-info__link--email::before {
    top: 2.5px;
    left: -50px;

    width: 25.33px;
    height: 18.67px;

    background-image: url("../img/emale-icon-big.svg");
  }

  .mini-info__link--phone::before {
    top: -1px;
    left: -25px;

    width: 24px;
    height: 24px;

    background-image: url("../img/iphone-icon-big.svg");
  }

  .mini-info li {
    padding-left: 33px;
  }
}

@media (max-width: $mobile-width-only) {
  .mini-info {
    margin-left: 38px;
  }

  .mini-info__link--email::before {
    left: -45px;
  }

  .mini-info__link--phone::before {
    left: -30px;
  }
}

