.page-header {
  overflow: hidden;

  box-sizing: border-box;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;

  background-color: #1b2931;
  background-image: url("../img/backgroung-header.png");
  background-size: cover;

}
