.promo-header {
  position: relative;

  display: flex;
  min-height: 759px;
  padding: 0 25px;
  margin: 0 auto;

  width: 100%;
  min-width: 1024px;
  max-width: 1471px;
}

.promo-header__title {
  max-width: 1421px;
  margin: 0;
  margin-top: 195px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #ffffff;
}

.promo-header__description {
  position: relative;

  width: 690px;
  margin: 0;
  margin-left: 97px;
  margin-top: 27px;

  font-family: "PTMono", "Courier", monospace;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;

  color: #ffffff;

  &::before {
    content: "";

    position: absolute;
    top: 17px;
    left: -93px;

    width: 66px;
    height: 2px;

    background-color: #ffffff;
  }
}

.promo-header__free-tutorial {
  width: 406px;
  margin-top: 31px;
  margin-bottom: 200px;
  margin-left: 99px;
  padding: 18px 10px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  border: none;
  background-color: #00b2ff;
  border-radius: 5px;

  &:hover {
    opacity: 0.5;
  }
}

.promo-header__scroll-down {
  position: absolute;
  left: -15px;
  bottom: 128px;

  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  transform: rotate(-90deg);

  border: none;
  background-color: transparent;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.promo-header__big-card {
  position: relative;

  flex-shrink: 0;
  margin-top: 136px;

  &::before {
    content: "";

    position: absolute;
    top: -256px;
    left: -1037px;

    width: 1920px;
    height: 950px;

    background-image: url("../../img/big-triangles.svg");
    background-repeat: no-repeat;
  }
}
